@{
    ViewBag.Title = "Manage Reservations";
}

<style>
    li a {
        color: grey;
    }

        li a:hover {
            color: black;
        }

    .input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #CCC;
        color: #555;
        box-sizing: border-box;
        top: 50%;
        width: 200px;
        text-align: center;
    }

        .input:focus {
            outline: none;
        }

    .row_header {
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: bold;
        background-color: #e0e0e0;
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
        text-align: center;
    }

    .row_content {
        border-bottom: solid 1px #e0e0e0;
    }

        .row_content:hover {
            background-color: #e0e0e0;
        }

    .col_content {
        padding-top: 10px;
        padding-bottom: 10px;
        /*height: 42px;*/
        /*border-right: solid 1px #e0e0e0;*/
        border-left: solid 1px #e0e0e0;
        /*border-bottom: solid 1px #e0e0e0;*/
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: black;
        background-color: darkgray;
        width: 80px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
        /*color:black;
        background-color:darkgray;*/
        width: 80px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .tooltip-inner {
        font-size: medium;
        min-width: 300px;
        /*width: 400px;*/ 
    }


</style>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            var hash = window.location.hash;
            if (hash == '#week') {
                $('#liWeekly a').click();
            }

        });

        var confirmModal = function (id, status) {

            selectedReservationId = id;
            selectedReservationStatus = status;

            switch (status) {
                case 1:
                    $('#confirmModalBody').text("Confirm Reservation " + id + "?");
                    break;
                case 2:
                    $('#confirmModalBody').text("Reject Reservation " + id + "?");
                    break;
                case 3:
                    $('#confirmModalBody').text("Cancel Reservation " + id + "?");
                    break;
                default:
                    break;
            }
        }

        var selectedReservationId;
        var selectedReservationStatus;

        var updateReservation = function () {
            $.ajax({
                url: 'UpdateReservationStatus',
                method: 'post',
                data: {
                    id: selectedReservationId,
                    status: selectedReservationStatus
                },
                success: function () {
                    if (selectedReservationStatus == 1) {
                        $('#divDailyStatus' + selectedReservationId).text("confirmed");
                        $('#divWeeklyStatus' + selectedReservationId).text("confirmed");
                        $('#divPendingStatus' + selectedReservationId).text("confirmed");
                    }
                    else if (selectedReservationStatus == 2) {
                        $('#divDailyStatus' + selectedReservationId).text("rejected");
                        $('#divWeeklyStatus' + selectedReservationId).text("rejected");
                        $('#divPendingStatus' + selectedReservationId).text("rejected");
                    }
                    else if (selectedReservationStatus == 3) {
                        $('#divDailyStatus' + selectedReservationId).text("cancelled");
                        $('#divWeeklyStatus' + selectedReservationId).text("cancelled");
                        $('#divPendingStatus' + selectedReservationId).text("cancelled");
                    }
                    $('#divDailyAction' + selectedReservationId).text("");
                    $('#divWeeklyAction' + selectedReservationId).text("");
                    $('#divPendingAction' + selectedReservationId).text("");
                },
                error: function (err) {
                    alert("Error updating Reservation")
                }
            });
        };

    </script>
}

<script type="text/javascript">

    var displayStatus = function (status) {
        if (status == 0)
            document.write("pending");
        else if (status == 1)
            document.write("confirmed");
        else if (status == 2)
            document.write("rejected");
        else if (status == 3)
            document.write("cancelled");
        else if (status == 4)
            document.write("expired");
        else
            document.write("error");
    };



</script>


<div style="height: 3em"></div>

<ul class="nav nav-tabs">
    <li id="liDaily" class="active"><a data-toggle="tab" href="#daily">&nbsp;&nbsp;&nbsp;&nbsp;Daily&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li id="liWeekly"><a data-toggle="tab" href="#weekly">&nbsp;&nbsp;&nbsp;&nbsp;Weekly&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li id="liPending"><a data-toggle="tab" href="#pending">&nbsp;&nbsp;&nbsp;&nbsp;Pending&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li id="liSearch"><a data-toggle="tab" href="#search">&nbsp;&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
</ul>

<div style="height: 3em"></div>
<div class="tab-content" style="padding-left: 1em; padding-right: 1em" align="center">
    <div id="daily" class="tab-pane fade in active">

        <div style="padding-bottom: 1em;">
            <a href="@Url.Action("Manage", "Reservation", new { d = DateTime.Parse(ViewBag.Day).AddDays(-1).ToString("dd/MMM/yyyy"), w = DateTime.Parse(ViewBag.Week).ToString("dd/MMM/yyyy"), t = 0 })" style="padding-right: 3em">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <label>@ViewBag.Day</label>
            <a href="@Url.Action("Manage", "Reservation", new { d = DateTime.Parse(ViewBag.Day).AddDays(1).ToString("dd/MMM/yyyy"), w = DateTime.Parse(ViewBag.Week).ToString("dd/MMM/yyyy"), t = 0 })" style="padding-left: 3em">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="row row_header">
            <div class="col-sm-1">ID</div>
            <div class="col-sm-3">Customer</div>
            <div class="col-sm-1">Time</div>
            <div class="col-sm-1">Pax</div>
            <div class="col-sm-2">Contact</div>
            <div class="col-sm-1">Status</div>
            <div class="col-sm-2">Action</div>
            <div class="col-sm-1">Comments</div>
        </div>

        @foreach (var reservation in ViewBag.Daily)
        {
            <div class="row row_content">
                <div class="col-sm-1 col_content">@reservation.ID</div>
                <div class="col-sm-3 col_content" style="text-align: left">@reservation.Name</div>
                <div class="col-sm-1 col_content">@reservation.ReservationDateTime.ToString("hh:mm tt")</div>
                <div class="col-sm-1 col_content">@reservation.NumVisitors</div>
                <div class="col-sm-2 col_content" style="text-align: left">
                    @reservation.Contact<br />
                    @reservation.Email
                </div>
                <div class="col-sm-1 col_content" id="@("divDailyStatus" + reservation.ID)">
                    <script type="text/javascript">
                        displayStatus(@reservation.Status);
                    </script>
                </div>
                <div class="col-sm-2 col_content" id="@("divDailyAction" + reservation.ID)">
                    @if (reservation.Status == 0) //pending
                    {
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 1)")">Confirm</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 2)")">Reject</button>
                    }
                    else if (reservation.Status == 1) //confirmed
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 3)")">Cancel</button>
                    }
                </div>
                <div class="col-sm-1 col_content">
                    @if (reservation.Requests != null)
                    {
                    <span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="left" title="@reservation.Requests" style="padding-left: 0.5em; padding-right: 0.5em"></span>
                    }
                    <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="@reservation.Remarks" style="padding-left: 0.5em; padding-right: 0.5em"></span>
                </div>
            </div>
        }

    </div>
    
    <div id="weekly" class="tab-pane fade">
        <div style="padding-bottom: 1em;">
            <a href="@Url.Action("Manage", "Reservation", new { d = DateTime.Parse(ViewBag.Day).ToString("dd/MMM/yyyy"), w = DateTime.Parse(ViewBag.Week).AddDays(-7).ToString("dd/MMM/yyyy"), t = 1 })#week" style="padding-right: 3em">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <label>@ViewBag.WeekStart</label>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;&nbsp;<label>@ViewBag.WeekEnd</label>
            <a href="@Url.Action("Manage", "Reservation", new { d = DateTime.Parse(ViewBag.Day).ToString("dd/MMM/yyyy"), w = DateTime.Parse(ViewBag.Week).AddDays(7).ToString("dd/MMM/yyyy"), t = 1 })#week" style="padding-left: 3em">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        <div class="row row_header">
            <div class="col-sm-1">ID</div>
            <div class="col-sm-3">Customer</div>
            <div class="col-sm-1">Time</div>
            <div class="col-sm-1">Pax</div>
            <div class="col-sm-2">Contact</div>
            <div class="col-sm-1">Status</div>
            <div class="col-sm-2">Action</div>
            <div class="col-sm-1">Comments</div>
        </div>

        @foreach (var reservation in ViewBag.Weekly)
        {
            <div class="row row_content">
                <div class="col-sm-1 col_content">@reservation.ID</div>
                <div class="col-sm-3 col_content" style="text-align: left">@reservation.Name</div>
                <div class="col-sm-1 col_content">
                    @reservation.ReservationDateTime.ToString("dd/MM/yy")
                    @reservation.ReservationDateTime.ToString("hh:mm tt")
                </div>
                <div class="col-sm-1 col_content">@reservation.NumVisitors</div>
                <div class="col-sm-2 col_content" style="text-align: left">
                    @reservation.Contact<br />
                    @reservation.Email
                </div>
                <div class="col-sm-1 col_content" id="@("divWeeklyStatus" + reservation.ID)">
                    <script type="text/javascript">
                        displayStatus(@reservation.Status);
                    </script>
                </div>
                <div class="col-sm-2 col_content" id="@("divWeeklyAction" + reservation.ID)">
                    @if (reservation.Status == 0) //pending
                    {
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 1)")">Confirm</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 2)")">Reject</button>
                    }
                    else if (reservation.Status == 1) //confirmed
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 3)")">Cancel</button>
                    }
                </div>
                <div class="col-sm-1 col_content">
                    @if (reservation.Requests != null)
                    {
                        <span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="left" title="@reservation.Requests" style="padding-left: 0.5em; padding-right: 0.5em"></span>
                    }
                    <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="@reservation.Remarks" style="padding-left: 0.5em; padding-right: 0.5em"></span>
                </div>
            </div>
        }
    </div>

    <div id="pending" class="tab-pane fade">

        <div class="row row_header">
            <div class="col-sm-1">ID</div>
            <div class="col-sm-3">Customer</div>
            <div class="col-sm-1">Time</div>
            <div class="col-sm-1">Pax</div>
            <div class="col-sm-2">Contact</div>
            <div class="col-sm-1">Status</div>
            <div class="col-sm-2">Action</div>
            <div class="col-sm-1">Comments</div>
        </div>

        @foreach (var reservation in ViewBag.Pending)
        {
            <div class="row row_content">
                <div class="col-sm-1 col_content">@reservation.ID</div>
                <div class="col-sm-3 col_content" style="text-align: left">@reservation.Name</div>
                <div class="col-sm-1 col_content">
                    @reservation.ReservationDateTime.ToString("dd/MM/yy")
                    @reservation.ReservationDateTime.ToString("hh:mm tt")
                </div>
                <div class="col-sm-1 col_content">@reservation.NumVisitors</div>
                <div class="col-sm-2 col_content" style="text-align: left">
                    @reservation.Contact<br />
                    @reservation.Email
                </div>
                <div class="col-sm-1 col_content" id="@("divPendingStatus" + reservation.ID)">
                    <script type="text/javascript">
                        displayStatus(@reservation.Status);
                    </script>
                </div>
                <div class="col-sm-2 col_content" id="@("divPendingAction" + reservation.ID)">
                    @if (reservation.Status == 0) //pending
                    {
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 1)")">Confirm</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 2)")">Reject</button>
                    }
                    else if (reservation.Status == 1) //confirmed
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" onclick="@("confirmModal(" + reservation.ID + ", 3)")">Cancel</button>
                    }
                </div>
                <div class="col-sm-1 col_content">
                    @if (reservation.Requests != null)
                    {
                        <span class="glyphicon glyphicon-list-alt" data-toggle="tooltip" data-placement="left" title="@reservation.Requests" style="padding-left: 0.5em; padding-right: 0.5em"></span>
                    }
                    <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="@reservation.Remarks" style="padding-left: 0.5em; padding-right: 0.5em"></span>
                </div>
            </div>
        }
    </div>
    
    <div id="search" class="tab-pane fade">
        <div style="padding-bottom: 2em">
            Search for a Reservation by Customer Name, Contact Number or Tracking ID
        </div>
        <div style="padding-bottom: 2em">
            <input class="form-control" id="inSearch" type="text" value="@ViewBag.SearchTerm">
            <label><input type="checkbox" value="@ViewBag.SearchIncludeExpired"> Include Expired</label>
        </div>
        <div>
            <button type="button" class="btn">Search</button>
        </div>


    </div>

    <div id="confirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Decision</h4>
                </div>
                <div class="modal-body">
                    <div id="confirmModalBody">Confirm?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="updateReservation()">OK</button>
                </div>
            </div>

        </div>
    </div>

</div>


