@{
    Layout = null;
}

@model List<int>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Menu
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @if (Model.Contains(0))
            {
                <li>@Html.ActionLink("Seasonal Menu", "Index", "Menu", new { menutype = 0 }, null)</li>
            }
            @if (Model.Contains(1))
            {
                <li>@Html.ActionLink("Themed Menu", "Index", "Menu", new { menutype = 1 }, null)</li>
            }
            @if (Model.Contains(2))
            {
                <li>@Html.ActionLink("Celebrity Chef", "Index", "Menu", new { menutype = 2 }, null)</li>
            }
            @if (Model.Contains(3))
            {
                <li>@Html.ActionLink("Degustation Menu", "Index", "Menu", new { menutype = 3 }, null)</li>
            }
        </ul>
    </li>
    <li>@Html.ActionLink("Reservations", "Index", "Reservation")</li>
    @*<li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>*@
    <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
